@page "/"

<h1>PDF.co</h1>
<p>
    It's API platform for intelligent data extraction and PDF.
    Trusted by 50,000+ users. Pay as you go or subscribe.
    300+ integrations, REST API, sample apps.
    Powered by AI, ML, and OCR. Secure and scalable.
</p>

<ul>
    <li><a href="https://pdf.co/">PDF.co</a></li>
    <li><a href="https://apidocs.pdf.co">Documentations</a></li>
    <li><a href="https://app.pdf.co/signup">Sign-Up</a></li>
</ul>